body {
    background-color: beige;
    font-family: "Happy Monkey", "PT Sans", Calibri, Tahoma, sans-serif;
}
header h1 {
    font-size: 3em;
}
header, main {
    margin: 3px auto; 
    max-width: 600px;
}
.red {
    color: red;
}
main {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.veryLarge {
    font-size: 50px;
}
.center {
    text-align: center;
}
button {
    width: 140px;
    height: 40px;
    border-radius: 100px;
    border: double black 4px;
    background-color: lightgoldenrodyellow;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: goldenrod;
    color: white;
    cursor: pointer; 
}
#resetButton {
    width: 75px;
    background-color: rgba(224, 83, 35, 0.833);
    animation: slideUp;
    animation-duration: 1.5s;
}
audio {
    margin: 10px 0 0 0;
    border-radius: 30px;
    min-width: 60px;
    max-width: 200px;
}
#chipiImg {
    animation: slideLeft;
    animation-duration: 0.5s;
}
#primoImg {
    animation: slideRight;
    animation-duration: 0.5s;
}
#baraAudio {
    animation: slideRight;
    animation-duration: 1.5s;
}
#chipiAudio {
    animation: slideLeft;
    animation-duration: 1.5s;
}
audio::-webkit-media-controls-panel {
    background-color: darkolivegreen;
    border-radius: 10px;
}
@keyframes slideUp {
    from{transform: translateY(500px);}
}
@keyframes slideRight {
    from{transform: translateX(-500px);}
}
@keyframes slideLeft {
    from{transform: translateX(500px);}
}